.max-w-full.mx-auto.mt-8.p-4
  .hero.min-w-screen.m-2.mb-8
    .hero-content.text-center
      .max-w-md
        %h4{class: "text-5xl font-bold"}= @blog.title
        %p= @blog.description
  .max-w-full.flex.justify-center
    %div{class: "max-w-1/2 text-wrap prose"}!= Sanitize.document(render_markdown(@blog.content), Sanitize::Config::RELAXED)