%html{data: {theme: "dim"}}
  %head
    %title Orange_Tree
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "/css/output.css"}
    %script{defer: true, src: "https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/cdn.min.js"}
  %body
    %div
      %div.navbar.p-4.bg-base-100.shadow-sm.gap-4
        .flex-1.gap-2
          %a.btn.btn-ghost.btn-lg Orange_Tree
        .flex.gap-2

      != yield